#[link(name = "rustle",
       vers = "0.4",
       uuid = "fdc4a956-acca-4eae-8372-b3ec62d5caa0",
       url = "https://github.com/dbp/rustle",
       author = "dbp")];

#[comment = "Rust API search"];
#[license = "MIT"];
#[crate_type = "bin"];


mod types;
mod parse;
mod load;
mod query;